

/* Body CSS
-------------------------------------------------- */

    body {
      font: 400 14px/20px Helvetica, Arial, "sans serif";
    }

    a,
    .annotator-widget a {
      color: #1C6E84;
      font-weight: 600;
    }

    a:hover{
    	color: #10424F;
    	text-decoration: none;
    }
    h1{
    	font-size: 2em;
    	font-weight: lighter;
    	margin-bottom: 1em;
    }
    #clear-all{
    	background-color: #1C6E84;
    	color: white;
    	font-weight: normal;
    }

	#Content{
		background-color: #FFFFFF;
    padding: 20px;
		padding-bottom: 124px; /** Keeps the footer down **/
	}
	.DataCatalog #Content{
		width: 100%;
		max-width: 100%;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	#Footer{
		height: 124px;
    width: 100%;
    padding: 0px;
	}
     .container{
    	width: 100%;
    }

    article > .container {
		padding: 2%;
		width: 96%;
	}

    div.row-fluid > a[name] {
      margin: 35px auto auto auto;
    }

    /* For full-screen background image */
	img.bg{
		min-height: 100%;
		min-width: 1024px;
		width: 100%;
		height: auto;
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		z-index: -1; /* So that right-clicking on background image will behave like right-clicking on background */
	}

	@media screen and (max-width: 1024px) {
	  img.bg {
	    left: 50%;
	    margin-left: -512px;   /* 50% */
	  }
	}

	/** A word-wrap style, similar to ellipsis **/
	.wrap-contents{
		word-wrap: break-word;
	}


/* FOOTER CSS
-------------------------------------------------- */
footer{
	width: 100%;
}
.mapMode #Footer{
	height: 63px;
}
.footer-container{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.footer-upper{
	background-color: #666666;
	font-size: 1em;
	padding-top: 15px;
	padding-bottom: 5px;
}
.footer-lower{
	font-size: .7em;
	line-height: 1.4em;
	padding-top: 10px;
	padding-bottom: 4px;
}
.footer-upper a{
	color: #FFF;
	font-size: .9em;
	font-weight: lighter;
}
.footer-upper .footer-right a{
	margin-right: 20px;
}
.footer-upper .footer-right .icon{
	vertical-align: text-bottom;
}
.footer-icons a{
	height: 30px;
	width: 30px;
	margin-right: 1em;
	display: inline-block;
	background-image: url('../img/footer_icons.png');
}
#footer_vimeo{
	background-position: -5px 35px;
}
#footer_youtube{
	background-position: -54px 35px;
}
#footer_linkedin{
	background-position: -103px 35px;
}
#footer_twitter{
	background-position: -151px 35px;
}
#footer_facebook{
	background-position: -197px 35px;
}
#footer_rss{
	background-position: -243px 35px;
}
#footer_slideshare{
	background-position: -288px 35px;
}
#footer_gplus{
	background-position: -334px 35px;
}
.footer-left{
	float: left;
}
.footer-right{
	float: right;
}
.mapMode .footer-upper{
	display: none;
}

 /* BUTTONS CSS
-------------------------------------------------- */
.btn {
	border: 1px solid #1C6E84;
    background-image: none;
    color: #1C6E84;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: none;
    transition: background-color .7s;
}
.btn:hover,
.annotator-editor a:focus,
.annotator-editor a:hover {
    background-color: #1C6E84;
    background-image: none;
    color: white;
    text-shadow: none;
    cursor: pointer;
    border: 1px solid #1C6E84;
    box-shadow: none;
}
.btn-primary,
.annotator-editor a.annotator-focus,
.annotator-editor a.annotator-save{
	background-color: rgb(99, 28, 63);
	background-color: rgba(99, 28, 63, 1);
	background-image: none;
	transition: background-color .7s;
	box-shadow: none;
	text-shadow: none;
	border: 0px;
	color: #FFF;
}
.btn-primary:hover,
.annotator-editor .annotator-save:hover{
	background-color: rgb(157, 3, 80);
	background-color: rgba(157, 3, 80, 1);
	background-image: none;
	text-shadow: none;
	border: 0px;
}
.btn.subtle,
.filter.btn {
    color: #666;
    border-color: #666;
}
.filter.btn:hover,
.btn.subtle:hover{
	color: #FFF;
}

/* Download  and Publish buttons */
.download .btn{
	width: 112px; /* IE fallback */
   	width: calc(100% - 30px);
   	max-width: 8em;
   	min-width: 7em;
}
#downloadPackage .dropdown-toggle {
	font-size: 20px;
	line-height: 20px;
	font-weight: 400;
}
.btn-group.open .btn.dropdown-toggle{
	color: #1C6E84;
  	background: rgba(22, 97, 148, 0.2);
}

.dropdown-menu > li > a.btn{
	background-color: #FFFFFF;
	font-weight: 300;
	font-size: 18px;
	line-height: 18px;
}

/* ICONS CSS
-------------------------------------------------- */

.icon-circle-badge{
	background-color: #1C6E84;
}
/*.annotator-widget::after,
.annotator-widget a::after{
	background-image: url('../img/annotator-icons.png');
}*/


/* TABLES
-------------------------------------------------- */
thead tr{
	background-color: #a1b3c2;
	color: #FFF;
}
.table th{
	border-top: 0px;
}
.table .table-header{
	background-color: #5F7F88;
  color: #FFF;
}
.table th{
  color: #FFF;
}
.table-header a {
    color: #FFF;
}
.table-header .subtle {
    color: #D9E4EC;
    font-weight: lighter;
}
.table-header-link{
	color: #FFFFFF;
}
tr, th, td{
	border-width: 0px;
}
table td.btn-container,
table th.btn-container{
   width: 1px; /*This will make the cell just as big as the button itself  since hte button will overflow and still be visible*/
}
table td.btn-container .btn,
table th.btn-container .btn{
	min-width: 90px;
}
.table-striped tfoot>tr>th{
	background-color:#f9f9f9;
}

/* THE NAVBAR
-------------------------------------------------- */
#Navbar{
  position: relative;
}
.navbar .nav{
	width: 100%;
}
.navbar .nav,
.navbar-upper,
.navbar-lower .nav{
	transition: width 1s;
	-webkit-transition: width 1s;
}
.DataCatalog .navbar .nav,
.DataCatalog .navbar-upper .nav,
.DataCatalog .navbar-lower .nav{
	width: 100%;
}
.DataCatalog .navbar{
	margin-bottom: 0px;
}

.navbar-inner{
	background-color: #660033;
	background-image: none;
	filter: none; /* for IE override */
	border-radius: 0px;
	border-width: 0px;
}
.navbar .nav > li a {
       color: #FFF;
	text-shadow: none;
	font-size: 1em;
	font-weight: normal;
   }
   .navbar .nav > li a:hover,
   .navbar .nav > li a:focus{
   	color: rgb(0,255,255);
   }
   .navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle{
   	background-color: #440029;
   	color: #FFF;
   }
.navbar-lower{
	width: 100%;
	width: calc(100% - 40px);
	min-height: 40px;
	background-color: #3F001F;
	background-image: none;
	filter: none; /* for IE override */
	padding-left: 20px;
	padding-right: 20px;
}
.navbar-lower .nav > li a {
	font-size: 1em;
	font-weight: light;
}
.navbar-lower span{
	color: #9E4884;
}
.navbar .nav > .label{
	font-size: .8em;
	color: #FFF;
	font-weight: light;
	text-transform: uppercase;
	line-height: 40px;
	margin-left: 14px;
	margin-right: 14px;
  background-color: transparent;
}
   .navbar-upper{
   	padding-left: 20px;
   	padding-right: 20px;
   }
   .nav li.right{
   	float: right;
   }

   .navbar-lower > .nav > .input{
   	margin-left: 40px;
   }
   .navbar-lower .input > form > label{
    color: #CB508A;
   }
   .navbar-lower .input > form > input[type="text"]{
   	background-image: url(../img/subtle-bg-magenta.png);
   	background-repeat: repeat;
   	background-size: 100%;
   	background-color: transparent;
   	border: 0px;
   	color: white;
   }
.navbar-lower .input > form > .btn,
.navbar-lower .nav > li a.btn {
	background-color:#91285F;
	background-image: none;
	color:#ffffff;
	text-shadow:0px 1px 0px #3f0020;
	border: 0px;
}
.navbar-lower .nav > li a.btn{
	padding: 5px 10px;
	margin-bottom: 0px;
}
.navbar-lower .nav > li a.btn:hover,
.navbar-lower .input-append > form > .btn:hover{
	background-color: #A92C6D;
}
.navbar-lower .input-append > form > .btn{
	border-radius: 0px;
	border-top-right-radius: 2px;
 	border-bottom-right-radius: 2px;
 	margin-bottom: 0px;
}
   .navbar-lower .input > form > input[type="text"]::-webkit-input-placeholder{
   	color: #CB508A;
   }
   .navbar-lower .input > form > input[type="text"]:-moz-placeholder{
   	color: #CB508A;
   }
   .navbar-lower .input > form > input[type="text"]::-moz-placeholder{
   	color: #CB508A;
   }
   .navbar-lower .input > form > input[type="text"]:-ms-input-placeholder{
   	color: #CB508A;
   }
.navbar-lower .inline-buttons{
	margin-bottom: 0px;
	margin-top: 0px;
	line-height: 40px;
}
.navbar-lower .inline-buttons .btn{
	margin-top: 0px;
}
.navbar-lower .nav > li .dropdown-menu a{
	color: inherit;
}
.show-new-dataCatalogView{
	cursor: pointer;
}
.soc-media{
	float: right;
	margin-top: 18px;
}
.navbar-upper > .logo {
	margin: 10px;
	max-height: 83px;
	float: left;
}
.navbar .tb-megamenu-block p a {
    color: inherit;
    font-size: 1em;
}
/* Depending on the headerType, these classes apply */

.navbar-inner > ul{
	margin: 0px;
}

/** Backbone override for dropdowns so they dsplay on hover rather than click **/
   #Navbar .dropdown-toggle > .icon-sort-down{
   	font-size: 15px;
   	width: 5px;
   }
   #Navbar .dropdown-menu > li > a:hover{
   	background-color: transparent;
   	background-image: none;
   }
   .navbar .nav>li>.dropdown-menu:after{
   	left: 80%;
   }
   .dropdown-menu{
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
.navbar .nav>li>.dropdown-menu:before,
.navbar .nav>li>.dropdown-menu:after{
	display: none;
}

/** The login form from the navbar **/
.sign-in .divider-text {
    margin-top: 30px;
    font-weight: bold;
}


.list-group > .divider {
  list-style: none;
  border-bottom: 1px solid #DDD;
}

.mega-dropdown-menu .mega-nav > li > a,
.tb-megamenu .dropdown-menu a {
  display: block;
  padding: 3px 5px;
  clear: both;
  font-weight: normal;
  line-height: 1.5em;
  color: rgb(102, 0, 51);
  white-space: normal;
  font-size: .9em;
}
ul.tb-megamenu-subnav{
	margin-left: 0px;
}
.mega-dropdown-menu .mega-nav > li > a:hover,
.tb-megamenu .dropdown-menu a:hover,
.navbar .dropdown-menu > li > a:hover {
	color: #1C6E84;
	text-decoration: none;
}
.mega-dropdown-menu .mega-nav > li{
  list-style: none;
  border-bottom: 1px solid #EEE;
  padding-bottom: 3px;
  margin-bottom: 3px;
}
.mega-dropdown-menu .mega-nav > li:last-child{
	border-bottom: 0px;
}
.mega-dropdown-menu .mega-nav > li > a.mega-group-title,
.tb-megamenu .dropdown-menu a.mega-group-title {
  color: #1C6E84;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .9em;
  display: block;
}
.nav img.float-left-80 {
  float: left;
  padding: 1em;
  width: 120px;
}
.tb-megamenu .mega-inner {
 		padding: 5px;
}
.tb-megamenu .nav li.dropdown.open .caret,
.navbar .nav li.dropdown>.dropdown-toggle .caret,
.tb-megamenu .dropdown-menu a.mega-group-title .caret{
	display: none;
}

/* OTHER NAVIGATION
-------------------------------------------------- */
.breadcrumb > .home,
.breadcrumb > li.home + li:before{ /*Hide the "Home" breadcrumb link and its divider */
	display: none;
}

.panel>.list-group .list-group-item.active{
	border-left-color: #660033;
}

/* METADATA VIEW CSS
-------------------------------------------------- */
.metadata-view .citation {
    font-size: 1.4em;
    line-height: 1.7em;
}
.metadata-index {
	/*border: 1px solid #1C6E84;*/
	padding: 20px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
}
label.control-label{
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	cursor: default;
}
.form-horizontal .entitydetails > label{
	background-color: #437582;
}
.service-table td.service-endpoint input{
	border-color: #146660;
}

.search-results a.btn{
	font-weight: 700;
}

   #article-container.hasProvLeft,
   #article-container.hasProvRight,
   #article-container.hasProvLeft,
   #article-container.hasProvRight{
	border: 1px solid #1C6E84;
  	border-radius: 5px;
}

   /** Prov charts **/
  .prov-chart .popover-title{
	background-color: #1C6E84;
	color: white;
	font-weight: light;
	padding: 6px;
	text-align: center;
  }
 /**----------------------------------------**/

   .entitydetails{
   	border: 1px solid #1C6E84;
   }

   .entitydetails h4{
   	color: #1C6E84;
   }

/** Metadata rendering via the Index **/
#metadata-index-details {
	padding: 2%;
	width: 96%;
}

#metadata-index-details .controls-well .controls-well{
	margin-left: 0px;
}

#metadata-index-details .controls-well .control-label{
	display: none;
}

#metadata-index-details .controls-well > .control-group{
	margin-bottom: 5px;
}
/**----------------------------------------**/


	/** Gutter/Annotation/Sidr ****/
	#gutter .comment{
		float: left;
		width: 100px;
		margin-left: 5px;
		cursor: pointer;
	}
	#gutter .icon{
		float: left;
	}
	#gutter {
		z-index: 500;
		max-height: 65%;
		overflow-x: visible;
		overflow-y: overlay;
		-webkit-transform: translate3d(0,0,0);
	}
	#gutter .hover-proxy {
		width: 100px;
	}

	/** sidr overrides **/
	.sidr {
		top: 35%;
		width: 150px;
		background: none;
		-webkit-box-shadow: none;
		box-shadow: none;

	}

/**----------------------------------------**/

/* Annotations
-------------------------------------------------- */
.annotation.tag {
	background-color: #1C6E84;
	color: #FFF;
}

.annotator-adder {
	opacity: 0.0;
	pointer-events: none;

}
  /* SIDEBAR CSS
  -------------------------------------------------- */

    /***Filters ***/

    /*-- Search buttons next to text inputs --*/
    .filter.btn{
    	border-radius: 0px;
    	-moz-border-radius: 0px;
    	-webkit-border-radius: 0px;
    	border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		-moz-border-top-right-radius: 4px;
		-moz-border-bottom-right-radius: 4px;
    	height: 30px;
    	padding: 0px 7px;
    	display: inline-block;
    }

    /*-- Inputs for search filters --*/
    input.filter{
    	border-radius: 4px;
    	-webkit-border-radius: 4px;
    	-moz-border-radius: 4px;
    	border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
    	-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
    	-moz-border-top-right-radius: 0px;
		-moz-border-bottom-right-radius: 0px;
    	margin-left: 10px;
		color: #555;
    }

    .filter-contain.no-border{
    	border-width: 0px;
    }

    input.filter::-webkit-input-placeholder{
		color: #999;
		font-weight: normal;
		font-size: .9em;
		text-shadow: none;
	}
	input.filter:-moz-placeholder{ /* Firefox 19+ */
		color: #999;
		font-weight: normal;
		font-size: .9em;
		text-shadow: none;
	}
	input.filter::-moz-placeholder{ /* Firefox 18- */
		color: #333;
		font-weight: normal;
		font-size: .9em;
		text-shadow: none;
	}
	input.filter:-ms-input-placeholder{
		color: #999;
		font-weight: normal;
		font-size: .9em;
		text-shadow: none;
	}
	.filter-contain .icon.expand:hover,
	.filter-contain .icon.collapse:hover{
		color: #1C6E84;
	}
  .ui-slider-range{
  	background: #1C6E84;
  }
	/*-- Currently applied filters --*/

	.current-filters > .current-filter,
	.current-filters > .current-filter[class*="span"]{
		background-color: #1C6E84;
		color: #FFF;
	}

/* Stats styles
  -------------------------------------------------- */
  /* The universal color for data */
svg .data,
.fallback.data{
  	color: #660033;
  	stroke: #660033;
  	fill: #660033;
  }

  /* The universal color for metadata */
svg .metadata,
.fallback.metadata{
  	color: #1C6E84;
  	stroke: #1C6E84;
  	fill: #1C6E84;
  }

    /* The universal color for packages */

svg .packages,
.profile .packages{
	color: #FF6633;
	fill: #FF6633;
	stroke: #FF6633;
}

svg .line{
  fill: none;
}

.profile .bar-label.packages{
	fill: inherit;
}
.profile .download-chart .bar-chart .bar.packages,
.profile .download-chart .bar-chart text.packages{
	fill: #32887F;
  stroke: #32887F;
}
/* Donut arc colors */
.donut.metadata > g:nth-child(even) .donut-arc,
.donut.metadata > g:nth-child(even) .donut-arc-label
{
	fill: #279DBD;
}
.donut.metadata > g:nth-child(odd) .donut-arc,
.donut.metadata > g:nth-child(odd) .donut-arc-label{
	fill: #1C6E84;
}
.donut.data > g:nth-child(even) .donut-arc,
.donut.data > g:nth-child(even) .donut-arc-label
{
	fill: #2B0015;
}
.donut.data > g:nth-child(odd) .donut-arc,
.donut.data > g:nth-child(odd) .donut-arc-label{
	fill: #660033;
}
/* Have a different color for the first arc so no two colors are adjacent */
.donut.metadata > g:first-child .donut-arc,
.donut.metadata > g:first-child .donut-arc-label{
	fill: #124958;
}

.donut.data > g:first-child .donut-arc,
.donut.data > g:first-child .donut-arc-label{
	fill: #BC005E;
}

/******************************************
* Metric Modal Chart (Views, Downloads, Citations)
********************************************/

#metric-modal .metric-chart .scale_button:hover rect,
#metric-modal .metric-chart .bar,
#metric-modal .metric-chart .bar_context {
	fill: #1C6E84;
}

#metric-modal .metric-chart .bar {
	stroke: #1C6E84;
}



.metrics .metric-value.badge{
  background-color: #1C6E84;
}
.metrics:hover .metric-value.badge{
  background-color: #FFFFFF;
  color: #1C6E84;
}
