@font-face {
	font-family: "Lato";
  	src: url('../../../../font/Lato-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
/* Body CSS
-------------------------------------------------- */
    body {
      color: #555555;
      background-color: #FDFDFD;
      font-family: "Helvetica Nueue", "Helvetica", "Arial", "Lato", "sans serif";
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
    #Content {
      padding: 20px;
    	padding-bottom: 300px; /* Keeps footer down */
    }
    body > section > article {
      min-height: 800px;
      margin: auto;
      padding-bottom: 40px;
    }

    a {
		color: #006699;
    }

    a:hover{
    	text-decoration:none;
    	color: #660000;
    }

/* Editor
-------------------------------------------------- */

.side-nav-item .active {
    background-color: #006699;
    color: #FFFFFF;
}

/* MDQ
-------------------------------------------------- */
#mdqResult {
	min-height: 800px;
    margin: auto;
    padding-bottom: 40px;
    width: 90%;
    max-width: 1024px;
}


/* EML CUSTOMIZATIONS
-------------------------------------------------- */
	#Eml h4, .well, .control-label {
		color: #555555;
	}


/* HEADER CSS
-------------------------------------------------- */
header#altHeader {
  position: relative;
  top: 0px;
  z-index: 0;
  min-height: 400px;
}

/* FOOTER CSS
-------------------------------------------------- */
.mapMode #Footer h3,
.mapMode #Footer h3 > span{
	margin-top: 2px;
}

.mapMode #Footer:hover h3,
.mapMode #Footer:hover h3 > span{
	font-size: 1em;
	line-height: 1em;
}

#Footer {
  padding: 5px 1%;
  margin-top: 0px;
  color: #FDFDFD;
  background-color: #3F3F3F;
  width: 98%;
  z-index: 2;
  height: 300px; /* Keeps footer down */
}

.mapMode #Footer{
	position: fixed;
	bottom: 0;
	background-color: #3F3F3F;
	color: #FFF;
	height: 1.2em;
	transition: min-height 1s ease-out;
	-webkit-transition: min-height 1s ease-out;
	transition-delay: .5s;
	-webkit-transition-delay: .5s;
	z-index: 10;
	padding-top: 3px;
}

footer#Footer div#FooterHeading {
  max-width: 490px;
}

footer#Footer h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  vertical-align: middle;
  padding: 0;
  margin-bottom: 3px;
}

footer#Footer h3 {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  text-align: center;
  padding: 0px 0px 20px 0px;
  margin-bottom: -25px;
  border-bottom: 1px solid #FDFDFD;

}

footer#Footer h3 > span {
  font-style: italic;
}

footer#Footer h4.subheading {
  vertical-align: baseline;
  padding: 0;
  text-align: center;
}

footer#Footer h4.subheading > span {
  font-style: italic;
  text-transform: uppercase;
  background-color: #3F3F3F;
  padding: 0px 15px 0px 15px;
}

footer div.help-items{
	min-width: 179px;
}

footer#Footer i{
	margin-right: 5px;
	color: #CCCCCC;
}

footer#Footer ul{
	margin: 0px;
}

footer#Footer ul.helpitems {
  margin: 0px;
  list-style: none;
  list-style-position: inside;
}

footer#Footer ul.helpitems li {
  font-size: 13px;
  line-height: 23px;
  vertical-align: baseline;
}

footer#Footer ul.helpitems li:hover i{
	color: #FFFFFF;
}

ul.helpitems a {
  color: #CCCCCC;
  text-decoration: none;
}

footer#Footer a:hover {
  color: #FFFFFF;
  text-decoration: none;
  transition: color .5s;
  -webkit-transition: color .5s;
}

footer#Footer .disclaimer {
  color: #CCC;
  font-size: 12px;
}

footer#Footer .logo {
  color: #D9D9D9;
  font-size: 39px;
  line-height: 1.0;
  letter-spacing: -3px;
  font-family: "Lato";
  font-weight: "lighter";
  margin: 0px 0px 15px 0px;
  text-align: center;
}

footer#Footer img {
  opacity: .75;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
}

footer#Footer .logos img:hover,
footer#Footer .logos p:hover{
	opacity: 1;
}

footer#Footer .logos .knb{
	display: block;
	margin-top: 17px;
}

footer#Footer .dataone img{
	height: 27px;
	width: auto;
	min-width: 120px;
	margin-top: 24px;
}

footer#Footer .logos .nceas{
	display: block;
	margin-top: 0px;
}

footer#Footer .logos .nceas img{
	width: 70px;
	height: auto;
	margin-top: 5px;
}

footer#Footer .acknowledgements {
  margin-top: 12px;
}

#footer_signup {
  position: relative;
  width: auto;
  font-size: inherit;
  padding: 5px;
  background-color: #992222;
  color: #FFFFFF;
}

.btn, .btn-primary, .btn-large, .btn-small, .btn-mini {
  font-weight: 400;
  background-image: none;
  background-repeat: none;
}

.btn-primary a, .btn-info a, .btn-success a, .btn-warning a, .btn-danger a, .btn-inverse a {
  color: #FFFFFF;
  text-decoration:none;
}

.btn-primary {
   background-color: #007DBB;
color: #FFFFFF;
background-image: none;
box-shadow: none;
}

button.btn-primary a {
  color: #FFFFFF;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #0093DD;
  color: #FDFDFD;
  background-image: none;
  background-repeat: none;

}

#search_btn.btn {
  background-color: #992222;
  color: #FFFFFF;

}

#search_btn.btn:hover {
  background-color: #882222;
  color: #FFFFFF;

}

/* FEATURES CSS
-------------------------------------------------- */
#mainContent {
  background-color: #899CA6;
  padding-top: 20px;
  color: #FDFDFD;
	min-height: 420px;
	width: calc(100% + 80px);
	margin-left: -40px;
	margin-top: -40px;
}

#mainContent h4 {
  font-size: 160%;
  font-weight: 300;
}
#mainContent p {
  font-size: 110%;
  font-weight: 300;
  line-height: 1.75;
  margin-bottom: 30px;
}

#mainContent a.btn-info {
  background-color: #6C94A4;
  color: #FFFFFF;
  border-width: 0px;
}

#mainContent a.btn-info:hover {
  background-color: #5C7F8C;
}

/* FEATURED DATA CSS
-------------------------------------------------- */
#FeaturedData {
  background-color: #878787;
  color: #FDFDFD;
	width: calc(100% + 80px);
	margin-left: -40px;
	margin-top: -40px;
}

#FeaturedData > .row {
  border-top: 1px solid #878787;
  height: 554px;
  position: relative;
}
#FeaturedData > section:nth-child(even){
	background-color: #333366;
}

#FeaturedData > section:nth-child(odd){
	background-color: #6C94A4;
}
#FeaturedData h2 {
	font-weight: 300;
  color: #FDFDFD;
  text-decoration: none;
}

#FeaturedData h2 a {
  color: #FDFDFD;
  text-decoration: none;
}
#FeaturedData h2 a.dark{
	color: #333;
}
#FeaturedData .accordion{
position: absolute;
color: #FDFDFD;
top: 0px;
padding: 20px 20px 20px 40px;
width: calc(100% - 60px);
}
#FeaturedData .accordion-heading{
	width: 50%;
}
#FeaturedData .accordion-body{
	clear: both;
}
#FeaturedData .accordion-inner {
    border-top: 0px;
  background-color: #555555;
  background: rgba(0,0,0,0.6);
  color: #FFFFFF;
  border-radius: 6px 6px 6px 6px;
  width: 50%;
}
 #FeaturedData > section.row:nth-child(even) .accordion-inner,
 #FeaturedData > section.row:nth-child(even) .accordion-heading,
 #FeaturedData > section.row:nth-child(even) .accordion-body .btn{
 	float: right;
 }
#FeaturedData .accordion-inner a{
	color: white;
	text-decoration: underline;
}
 #FeaturedData .accordion-inner a.btn{
 	text-decoration: none;
 }
#FeaturedData .row img{
  top: 0px;
  position: absolute;
}


/* NAVIGATION
-------------------------------------------------- */

    .show-new-dataCatalogView{
    	cursor: pointer;
    }
    #Navbar{
      width: auto;
    }

    .navbar {
      position: relative;
      border: none;
      margin-top: 20px;
      margin-bottom: 15px;
    }

    .navbar-inner {
      border: none;
      z-index: 220;
      background-color: #FFF;
    }

    .navbar .nav > li > a.brand {
      font-size: 48px;
      padding: 10px;
    }
    .navbar .nav > li > a.brand:hover{
      font-weight: 300;
    }
    #Navbar .navbar .brand{
      font-family: "Lato", Helvetica, sans-serif;
      color: #992222;
      font-weight: 300;
      text-transform: none;
      letter-spacing: -3px;
    }

    .navbar .nav > li > a {
      color: #555555;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
    }

    .navbar .nav > li > a:focus,
    .navbar .nav > li > a:hover {
      color: #555555;
      font-weight: 400;
      background-color: #E5E5E5;
      text-decoration: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      /*background-color: transparent;*/
    }

    .navbar .nav > .active > a,
    .navbar .nav > .active > a:hover,
    .navbar .nav > .active > a:focus {
      color: #555555;
      font-weight: 400;
      text-decoration: none;
      background-color: #E5E5E5;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
         -moz-box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
              box-shadow: none; /*inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
    }

    .navbar .nav > li > a.brand:focus,
    .navbar .nav > li > a.brand:hover {
    	color: #992222;
    	background-color: transparent;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }
    .navbar .nav > li > .user{
    	font-size: 15px;
    	text-transform: capitalize;
    }

    .navbar .nav {
      margin-top: 8px;
      margin-bottom: 8px;
    }
    .nav > .input > form > label{
      color: #555;
      font-weight: normal;
    }

    #Content > .nav-tabs{
        padding-left: 25px;
    	width: calc(100% - 50px);
    	padding-right: 25px;
    }

    #SignIn {
      float: right;
    }

    .dropdown-header {
		display: block;
		padding: 3px 20px;
		font-size: 12px;
		line-height: 1.42857143;
		color: #666;
	}
	.navbar .nav li.dropdown.open > .dropdown-toggle{
		color: #555555;
		background-color: transparent;
	}


	/** Inputs in the navbar **/
	.nav .input > form > input[type="text"]{
		border: 1px solid #CCC;
  		border-right: 0px;
	}
	.nav .input > form > .btn{
		background-color: #EEE;
  		border: 1px solid #CBCBCB;
	}

    /* CAROUSEL CSS
    -------------------------------------------------- */

    #Slides {
      position: relative;
      top: 0px;
      z-index: 110;
    }

    /* Carousel base class */
    .carousel {
      width: 100%;
      margin-bottom: 0px;
      max-height: 400px;

    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 50px;
      font-weight: 300;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 189;
    }

    .carousel .left {
      left: 50px;
      z-index: 190;
    }

    .carousel .right {
      right: 30px;
      z-index: 191;
    }

	/* Fallback colors for the carousel while images are loading */
	.carousel .item:nth-child(2n){
		background-color: #6C78A4;
	}

	.carousel .item:nth-child(2n+1){
		background-color: #6C94A4;
	}

	.carousel .item:nth-child(3n){
		background-color: #6C8AA4;
	}
	/************/

    .carousel .item {
    	height: 400px;
      z-index: 170;
      /*
      -webkit-transition: opacity 4s;
      -moz-transition: opacity 4s;
      -ms-transition: opacity 4s;
      -o-transition: opacity 4s;
      transition: opacity 4s;
      */
    	-webkit-transition:0.6s ease-in-out left;
    	-moz-transition:0.6s ease-in-out left;
    	-ms-transition:0.6s ease-in-out left;
    	-o-transition:0.6s ease-in-out left;
    	transition:0.6s ease-in-out left;
      max-height: 400px;
      overflow: hidden;
    }

    .carousel-caption {
      background-color: #555555; /*IE 8 fallback */
      background: rgba(0,0,0,0.3);
      position: absolute;
      top: 115px;
      left: 50%;
      margin: 0px 0px 0px -250px;
      width: 500px;
      max-height: 130px;
      z-index: 200;
      padding: 10px 20px 10px 20px;
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;

    }

    .carousel-caption h1 {
      margin: 0px;
      line-height: 1.25;
      font-weight: 400;
      font-size: 36px;
      color: #FDFDFD;
    }

    .carousel-caption .lead {
      margin: 0;
      line-height: 1;
      font-weight: 300;
      font-size: 24px;
      color: #FDFDFD;
    }
    .carousel-caption .btn-primary {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }

  /* MAIN BODY CSS
  -------------------------------------------------- */
  /* Main body containing sidebar and content */
    .main-body-padded {
      padding-top: 90px;
    }
	.keyword-search-link.active{
		background-color: #1981CC;
	}

    h2.nav-header {
      margin: 20px 10px 10px 15px;
      padding: 3px 0px 3px 0px;
      color: #555555;
    }

/* Stats styles
  -------------------------------------------------- */

.user-info .icon-circle-badge {
    background-color: #0E69A1;
}

.profile .charts-container .stripe:nth-child(even){
	background-image: url("../img/sos.png");
}

  /* The universal color for data */
svg .data,
.fallback.data{
  	color: #38B0B0;
  	stroke: #38B0B0;
  	fill: #38B0B0;
  }

  /* The universal color for metadata */
svg .metadata,
.fallback.metadata{
  	color: #761012;
  	stroke: #761012;
  	fill: #761012;
  }

  /* The universal color for packages */
svg .packages,
.profile .packages{
	color: #0E69A1;
	fill: #0E69A1;
}
svg .line{
  fill: none;
}
.profile .quick-stats circle{
	stroke: #0E69A1;
}
.profile .bar-label.packages{
	fill: inherit;
}
/* Donut arc colors */
.donut.metadata > g:nth-child(even) .donut-arc,
.donut.metadata > g:nth-child(even) .donut-arc-label
{
	fill: #B90004;
}
.donut.metadata > g:nth-child(odd) .donut-arc,
.donut.metadata > g:nth-child(odd) .donut-arc-label{
	fill: #761012;
}
.donut.data > g:nth-child(even) .donut-arc,
.donut.data > g:nth-child(even) .donut-arc-label
{
	fill: #2B8282;
}
.donut.data > g:nth-child(odd) .donut-arc,
.donut.data > g:nth-child(odd) .donut-arc-label{
	fill: #38B0B0;
}
/* Have a different color for the first arc so no two colors are adjacent */
.donut.metadata > g:first-child .donut-arc,
.donut.metadata > g:first-child .donut-arc-label{
	fill: #D5181C;
}

.donut.data > g:first-child .donut-arc,
.donut.data > g:first-child .donut-arc-label{
	fill: #42D2D2;
}

/* Other Navigation
----------------------------------------------------- */
.breadcrumb{
  margin-top: 0px;
}
.nav-pills.primary a {
    background-color: #E8EEF1;
}
.nav-pills.primary li a:hover{
	background-color: #BDD7E4;
    color: #006699;
}

  /* Metadata rendering CSS
  -------------------------------------------------- */
    /* Resource map contents table */
    .table tr > th{
    	background-color: #DEDEDE;
    	font-weight: bold;
    }
    .table .table-header{
    	background-color: #7F9FAF;
    	color: #FFF;
    	font-weight: normal;
    }
    .table-header .subtle {
	    color: #FFFFFF;
	    font-weight: lighter;
	}
	.table-header > a{
	    color: #005884;
    	margin-left: 20px;
    	font-weight: bold;
	}
	.table-header > a > .icon{
		margin-left: 5px;
	}
    .file-type i {
  		  color: #999;
  		  margin-left: 5px;
    }
    .table-striped tfoot>tr>th{
    	background-color: #f9f9f9;
    }
    .download-contents ~ .expand-collapse-control{
        border: 1px solid #8EB6CA;
        background-color: #C5D7E0;
    }
    .downloads-this-version{
        font-weight: lighter;
        font-size: 12px;
    }
    /**----------------------------------------**/

	.metadata-index {
		padding: 2%;
		width: 96%;
	}

  /* SIDEBAR CSS
  -------------------------------------------------- */


   aside > div{
   	margin: 0px 0px 10px 0px;
	display: block;
	clear: both;
	height: auto;
	}


/*-- Currently applied filters --*/
.current-filters > li,
.current-filters > li[class*="span"]{
	background-color: #006699;
}


.ui-slider-range{
	background-color: #006699;
}
/* RESULTS CSS
-------------------------------------------------- */

    /*-- Pagination widget --*/
	.pagination{
		padding-left: 10px;
		margin: 0px 0px 10px;
	}

	.pagination ul{
		border: none;
		float: left;
	}

	.pagination ul > li{
		cursor: pointer;
	}

	.pagination ul > li > a.unactive,
	.pagination ul > li > a.unactive:hover{
    	font-size: 20px;
    	color: #999999;
    	background-color: transparent;
    	cursor: default;
    }
	.pagination ul > li.active > a{
		background-color: #eee;
	}
	.pagination ul>li>a{
		color: inherit;
	}

 /* MISC
 -----------------------------------------------*/
#external > .container{
	width: 80%;
}
#external dt{
	line-height: 34px;
	font-size: 16px;
}
div.row-fluid > .section {
  margin: 35px auto auto auto;
}

/******************************************
* Metrics Controller Styling
********************************************/

.edit-toolbar >
#metadata-controls-container >
.metadata-controls-container >
a {
    margin-left: 0px;
    margin-right: 15px;
    width: 138px;
}

/******************************************
* Metric Modal Chart (Views, Downloads, Citations)
********************************************/

#metric-modal .metric-chart .scale_button:hover rect,
#metric-modal .metric-chart .bar,
#metric-modal .metric-chart .bar_context {
	fill: #006699;
}

#metric-modal .metric-chart .bar {
	stroke: #006699;
}
